.login__section, .create_account_section {
    background-image: linear-gradient(to right, skyblue, lightgreen);
}

.login__section, .create_account_section {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}